.mainPage {
  background-color: #343b41;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
    width: 60%;
    /* height: 80%; */
    background-color: white;
    border-radius: 5px;
}

.loginForm h1{
    font-family: Fjalla_One,sans-serif;
    text-align: center;
    background: #d3d7da;
    padding: 3rem 
}

.regInput{
  flex-basis: calc("50%") !important;
}