body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Fjalla_One";
  src: local("Fjalla_One"),
    url(./fonts/Fjalla_One/FjallaOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Arvo";
  src: local("Arvo"), url(./fonts/Arvo/Arvo-Regular.ttf) format("truetype");
}
